@import "../../variables.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #00ced1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profilePic:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #00ced1;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.tagline {
  font-size: 1.2em;
  color: var(--color-text-light); /* Assuming you have this variable */
  margin: 0;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

.menuBtn {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile {
    margin-bottom: 20px;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(0deg, rgba(25, 55, 109, 0.2));
  }

  .menuItems.show {
    display: flex;
  }
}